.navbar_container {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    cursor: pointer;

    @media screen and (max-width: $small) {

        justify-content: center;
    }



    img {
        width: 120px;
    }

}